{
  "servers": [
    {
      "url": "https://viral.app/api/v1",
      "description": "API Server"
    }
  ],
  "info": {
    "title": "viral.app API",
    "version": "1.0.0",
    "description": "API for viral.app - Short-form video analytics platform for TikTok, Instagram, and YouTube.\n\nAuthenticate using your API key in the `x-api-key` header. Get your API key from [API Keys](/app/org/api/keys) in the viral.app dashboard.",
    "contact": {
      "name": "viral.app",
      "url": "https://viral.app",
      "email": "support@viral.app"
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key authentication. Use your API key in the x-api-key header.\n\nTo obtain an API key:\n1. Log into viral.app\n2. Navigate to Settings > API Keys\n3. Create a new API key\n4. Use the key in the x-api-key header"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Live Data",
      "description": "Fetch live, real-time account, video, and search data across supported platforms.\n\n⚠️ Consumes extra credits per request."
    },
    {
      "name": "Tracked Accounts",
      "description": "Manage and monitor tracked accounts"
    },
    {
      "name": "Tracked Individual Videos",
      "description": "Manage and monitor individual tracked videos"
    },
    {
      "name": "Account Analytics",
      "description": "Analytics for tracked accounts"
    },
    {
      "name": "Video Analytics",
      "description": "Analytics for tracked videos"
    },
    {
      "name": "Viral Video Library",
      "description": "Browse and inspect viral video library research endpoints"
    },
    {
      "name": "General Analytics",
      "description": "General analytics and overview"
    },
    {
      "name": "Projects",
      "description": "Project management"
    },
    {
      "name": "Integrations",
      "description": "Third-party integrations"
    },
    {
      "name": "Creator Hub",
      "description": "Campaign-, Creator-, and Payout-Management"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/live/{platform}/videos/{platformVideoId}": {
      "get": {
        "operationId": "api.live.getVideo",
        "summary": "Get Video",
        "description": "Fetches live metadata and metrics for a platform video ID.\n\nConsumes 1 extra credit.\n\nHeaders:\n- X-Viral-Credits-Consumed\n- X-Viral-Credits-Meter\n- X-Viral-Credits-Benefited-Remaining\n- X-Viral-Credits-Can-Purchase-Extra\n- Retry-After (on 429 responses)",
        "tags": [
          "Live Data"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "instagram",
                "tiktok",
                "youtube"
              ],
              "description": "Social media platform (tiktok, instagram, youtube)",
              "examples": [
                "tiktok",
                "instagram",
                "youtube"
              ]
            }
          },
          {
            "name": "platformVideoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Native platform video id found in the URL of the video",
              "examples": [
                "7123456789012345678",
                "z1234567890"
              ]
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2,
                  "description": "Region code (2-letter ISO country code)",
                  "examples": [
                    "US",
                    "GB",
                    "IT"
                  ]
                },
                {
                  "type": "null"
                }
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "platform": {
                      "enum": [
                        "instagram",
                        "tiktok",
                        "youtube"
                      ],
                      "description": "Social media platform (tiktok, instagram, youtube)",
                      "examples": [
                        "tiktok",
                        "instagram",
                        "youtube"
                      ]
                    },
                    "platform_video_id": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "description": "Native platform video id found in the URL of the video",
                          "examples": [
                            "7123456789012345678",
                            "z1234567890"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "platform_account_id": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "description": "Native platform account id",
                          "examples": [
                            "7123456789012345678",
                            "z1234567890"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_username": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_display_name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_profile_picture_url": {
                      "anyOf": [
                        {
                          "description": "URL",
                          "examples": [
                            "https://www.myproject.com"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "region": {
                      "anyOf": [
                        {
                          "description": "Region code (2-letter ISO country code)",
                          "examples": [
                            "US",
                            "GB",
                            "IT"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "caption": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "hashtags": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Hashtag",
                        "examples": [
                          "brand",
                          "marketing",
                          "viral"
                        ]
                      },
                      "default": []
                    },
                    "content_type": {
                      "anyOf": [
                        {
                          "enum": [
                            "video",
                            "slideshow"
                          ],
                          "description": "Filter by content types (video, slideshow)",
                          "examples": [
                            [
                              "video"
                            ],
                            [
                              "slideshow"
                            ],
                            []
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "video_index": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "thumbnail_url": {
                      "anyOf": [
                        {
                          "description": "URL",
                          "examples": [
                            "https://www.myproject.com"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "download_url": {
                      "anyOf": [
                        {
                          "description": "URL",
                          "examples": [
                            "https://www.myproject.com"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "music_id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "music_title": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "music_artist": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "music_album": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "music_play_url": {
                      "anyOf": [
                        {
                          "description": "URL",
                          "examples": [
                            "https://www.myproject.com"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "music_cover_url": {
                      "anyOf": [
                        {
                          "description": "URL",
                          "examples": [
                            "https://www.myproject.com"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "is_original_music": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "duration_seconds": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "view_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "like_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "comment_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "share_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "bookmark_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "engagement_rate": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "published_at": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "platform",
                    "platform_video_id",
                    "platform_account_id",
                    "account_username",
                    "account_display_name",
                    "caption",
                    "content_type",
                    "video_index",
                    "music_id",
                    "music_title",
                    "music_artist",
                    "music_album",
                    "is_original_music",
                    "duration_seconds",
                    "view_count",
                    "like_count",
                    "comment_count",
                    "share_count",
                    "bookmark_count",
                    "engagement_rate",
                    "published_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "BAD_REQUEST"
                        },
                        "status": {
                          "const": 400
                        },
                        "message": {
                          "type": "string",
                          "default": "Bad request"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Not authenticated"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "PAYMENT_REQUIRED"
                        },
                        "status": {
                          "const": 402
                        },
                        "message": {
                          "type": "string",
                          "default": "Payment required"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "RESTRICTED"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Content is restricted"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Not found"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "408": {
            "description": "408",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "REQUEST_TIMEOUT"
                        },
                        "status": {
                          "const": 408
                        },
                        "message": {
                          "type": "string",
                          "default": "Request timeout"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "RATE_LIMITED"
                        },
                        "status": {
                          "const": 429
                        },
                        "message": {
                          "type": "string",
                          "default": "Too many requests"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "retryAfterMs": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "exclusiveMinimum": 0
                            },
                            "providerStatus": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "exclusiveMinimum": 0
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "status": {
                          "const": 500
                        },
                        "message": {
                          "type": "string",
                          "default": "Internal server error"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UPSTREAM_ERROR"
                        },
                        "status": {
                          "const": 502
                        },
                        "message": {
                          "type": "string",
                          "default": "Upstream provider error"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/live/{platform}/accounts/username/{username}": {
      "get": {
        "operationId": "api.live.getAccountByUsername",
        "summary": "Get Account by Username",
        "description": "Fetches live account metadata for a platform username.\n\nConsumes 1 extra credit.\n\nHeaders:\n- X-Viral-Credits-Consumed\n- X-Viral-Credits-Meter\n- X-Viral-Credits-Benefited-Remaining\n- X-Viral-Credits-Can-Purchase-Extra\n- Retry-After (on 429 responses)",
        "tags": [
          "Live Data"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "instagram",
                "tiktok",
                "youtube"
              ],
              "description": "Social media platform (tiktok, instagram, youtube)",
              "examples": [
                "tiktok",
                "instagram",
                "youtube"
              ]
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Platform username without a leading @ prefix",
              "examples": [
                "acme",
                "@acme"
              ]
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2,
                  "description": "Region code (2-letter ISO country code)",
                  "examples": [
                    "US",
                    "GB",
                    "IT"
                  ]
                },
                {
                  "type": "null"
                }
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "platform": {
                      "enum": [
                        "instagram",
                        "tiktok",
                        "youtube"
                      ],
                      "description": "Social media platform (tiktok, instagram, youtube)",
                      "examples": [
                        "tiktok",
                        "instagram",
                        "youtube"
                      ]
                    },
                    "platform_account_id": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "description": "Native platform account id",
                          "examples": [
                            "7123456789012345678",
                            "z1234567890"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_username": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_display_name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_profile_picture_url": {
                      "anyOf": [
                        {
                          "description": "URL",
                          "examples": [
                            "https://www.myproject.com"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "is_verified": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "is_private": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "follower_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "following_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "video_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "bio": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "region": {
                      "anyOf": [
                        {
                          "description": "Region code (2-letter ISO country code)",
                          "examples": [
                            "US",
                            "GB",
                            "IT"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "platform",
                    "platform_account_id",
                    "account_username",
                    "account_display_name"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "BAD_REQUEST"
                        },
                        "status": {
                          "const": 400
                        },
                        "message": {
                          "type": "string",
                          "default": "Bad request"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Not authenticated"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "PAYMENT_REQUIRED"
                        },
                        "status": {
                          "const": 402
                        },
                        "message": {
                          "type": "string",
                          "default": "Payment required"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "RESTRICTED"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Content is restricted"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Not found"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "408": {
            "description": "408",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "REQUEST_TIMEOUT"
                        },
                        "status": {
                          "const": 408
                        },
                        "message": {
                          "type": "string",
                          "default": "Request timeout"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "RATE_LIMITED"
                        },
                        "status": {
                          "const": 429
                        },
                        "message": {
                          "type": "string",
                          "default": "Too many requests"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "retryAfterMs": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "exclusiveMinimum": 0
                            },
                            "providerStatus": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "exclusiveMinimum": 0
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "status": {
                          "const": 500
                        },
                        "message": {
                          "type": "string",
                          "default": "Internal server error"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UPSTREAM_ERROR"
                        },
                        "status": {
                          "const": 502
                        },
                        "message": {
                          "type": "string",
                          "default": "Upstream provider error"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/live/{platform}/accounts/{platformAccountId}": {
      "get": {
        "operationId": "api.live.getAccount",
        "summary": "Get Account by Account ID",
        "description": "Fetches live account metadata for a platform account ID.\n\nConsumes 1 extra credit.\n\nHeaders:\n- X-Viral-Credits-Consumed\n- X-Viral-Credits-Meter\n- X-Viral-Credits-Benefited-Remaining\n- X-Viral-Credits-Can-Purchase-Extra\n- Retry-After (on 429 responses)",
        "tags": [
          "Live Data"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "instagram",
                "tiktok",
                "youtube"
              ],
              "description": "Social media platform (tiktok, instagram, youtube)",
              "examples": [
                "tiktok",
                "instagram",
                "youtube"
              ]
            }
          },
          {
            "name": "platformAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Native platform account id",
              "examples": [
                "7123456789012345678",
                "z1234567890"
              ]
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2,
                  "description": "Region code (2-letter ISO country code)",
                  "examples": [
                    "US",
                    "GB",
                    "IT"
                  ]
                },
                {
                  "type": "null"
                }
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "platform": {
                      "enum": [
                        "instagram",
                        "tiktok",
                        "youtube"
                      ],
                      "description": "Social media platform (tiktok, instagram, youtube)",
                      "examples": [
                        "tiktok",
                        "instagram",
                        "youtube"
                      ]
                    },
                    "platform_account_id": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "description": "Native platform account id",
                          "examples": [
                            "7123456789012345678",
                            "z1234567890"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_username": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_display_name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "account_profile_picture_url": {
                      "anyOf": [
                        {
                          "description": "URL",
                          "examples": [
                            "https://www.myproject.com"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "is_verified": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "is_private": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "follower_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "following_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "video_count": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "bio": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "region": {
                      "anyOf": [
                        {
                          "description": "Region code (2-letter ISO country code)",
                          "examples": [
                            "US",
                            "GB",
                            "IT"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "platform",
                    "platform_account_id",
                    "account_username",
                    "account_display_name"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "BAD_REQUEST"
                        },
                        "status": {
                          "const": 400
                        },
                        "message": {
                          "type": "string",
                          "default": "Bad request"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Not authenticated"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "PAYMENT_REQUIRED"
                        },
                        "status": {
                          "const": 402
                        },
                        "message": {
                          "type": "string",
                          "default": "Payment required"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "RESTRICTED"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Content is restricted"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Not found"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "408": {
            "description": "408",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "REQUEST_TIMEOUT"
                        },
                        "status": {
                          "const": 408
                        },
                        "message": {
                          "type": "string",
                          "default": "Request timeout"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "RATE_LIMITED"
                        },
                        "status": {
                          "const": 429
                        },
                        "message": {
                          "type": "string",
                          "default": "Too many requests"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "retryAfterMs": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "exclusiveMinimum": 0
                            },
                            "providerStatus": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991,
                              "exclusiveMinimum": 0
                            }
                          }
                        }
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "INTERNAL_SERVER_ERROR"
                        },
                        "status": {
                          "const": 500
                        },
                        "message": {
                          "type": "string",
                          "default": "Internal server error"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UPSTREAM_ERROR"
                        },
                        "status": {
                          "const": 502
                        },
                        "message": {
                          "type": "string",
                          "default": "Upstream provider error"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/live/{platform}/accounts/{platformAccountId}/videos": {
      "get": {
        "operationId": "api.live.listAccountVideos",
        "summary": "List Account Videos",
        "description": "Fetches paginated live videos for a platform account.\n\nConsumes 1 extra credit.\n\nHeaders:\n- X-Viral-Credits-Consumed\n- X-Viral-Credits-Meter\n- X-Viral-Credits-Benefited-Remaining\n- X-Viral-Credits-Can-Purchase-Extra\n- Retry-After (on 429 responses)",
        "tags": [
          "Live Data"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "instagram",
                "tiktok",
                "youtube"
              ],
              "description": "Social media platform (tiktok, instagram, youtube)",
              "examples": [
                "tiktok",
                "instagram",
                "youtube"
              ]
            }
          },
          {
            "name": "platformAccountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Native platform account id",
              "examples": [
                "7123456789012345678",
                "z1234567890"
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 1,
                  "description": "Opaque cursor token used to fetch the next page",
                  "examples": [
                    "v2:eyJvZmZzZXQiOjIwLCJsaW1pdCI6MjB9",
                    "CAEQAA"
                  ]
                },
                {
                  "type": "null"
                }
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2,
                  "description": "Region code (2-letter ISO country code)",
                  "examples": [
                    "US",
                    "GB",
                    "IT"
                  ]
                },
                {
                  "type": "null"
                }
              ]
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "videos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "platform": {
                            "enum": [
                              "instagram",
                              "tiktok",
                              "youtube"
                            ],
                            "description": "Social media platform (tiktok, instagram, youtube)",
                            "examples": [
                              "tiktok",
                              "instagram",
                              "youtube"
                            ]
                          },
                          "platform_video_id": {
                            "anyOf": [
                              {
                                "type": "string",
                                "minLength": 1,
                                "description": "Native platform video id found in the URL of the video",
                                "examples": [
                                  "7123456789012345678",
                                  "z1234567890"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "platform_account_id": {
                            "anyOf": [
                              {
                                "type": "string",
                                "minLength": 1,
                                "description": "Native platform account id",
                                "examples": [
                                  "7123456789012345678",
                                  "z1234567890"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "account_username": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "account_display_name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "account_profile_picture_url": {
                            "anyOf": [
                              {
                                "description": "URL",
                                "examples": [
                                  "https://www.myproject.com"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "region": {
                            "anyOf": [
                              {
                                "description": "Region code (2-letter ISO country code)",
                                "examples": [
                                  "US",
                                  "GB",
                                  "IT"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "caption": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "hashtags": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "Hashtag",
                              "examples": [
                                "brand",
                                "marketing",
                                "viral"
                              ]
                            },
                            "default": []
                          },
                          "content_type": {
                            "anyOf": [
                              {
                                "enum": [
                                  "video",
                                  "slideshow"
                                ],
                                "description": "Filter by content types (video, slideshow)",
                                "examples": [
                                  [
                                    "video"
                                  ],
                                  [
                                    "slideshow"
                                  ],
                                  []
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "video_index": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "thumbnail_url": {
                            "anyOf": [
                              {
                                "description": "URL",
                                "examples": [
                                  "https://www.myproject.com"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "download_url": {
                            "anyOf": [
                              {
                                "description": "URL",
                                "examples": [
                                  "https://www.myproject.com"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "music_id": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "music_title": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "music_artist": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "music_album": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "music_play_url": {
                            "anyOf": [
                              {
                                "description": "URL",
                                "examples": [
                                  "https://www.myproject.com"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "music_cover_url": {
                            "anyOf": [
                              {
                                "description": "URL",
                                "examples": [
                                  "https://www.myproject.com"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "is_original_music": {
                            "anyOf": [
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "duration_seconds": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "view_count": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "like_count": {
                            "anyOf": [
                              {
[...]
